In [2]:
import pandas as pd

In [3]:
df_1991 = pd.read_csv('IDH_1991.csv', encoding="latin1", sep = ';')
df_2000 = pd.read_csv('IDH_2000.csv', encoding="latin1", sep = ';')

In [4]:
df_1991.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 10 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Ordem segundo o IDH                               126 non-null    int64
 1   Bairro ou grupo de bairros                        126 non-null    object
 2   Esperança de vida ao nascer (em anos)             126 non-null    object
 3   Taxa de alfabetização de adultos (%)              126 non-null    object
 4   Taxa bruta de frequência escolar (%)              126 non-null    object
 5   Renda per capita (em R$ de 2000)                  126 non-null    object
 6   Índice de Longevidade (IDH-L)                     126 non-null    object
 7   Índice de Educação (IDH-E)                        126 non-null    object
 8   Índice de Renda (IDH-R)                           126 non-null    object
 9   Índice de Desenvolvimento Humano Municipal (IDH)  126 non-null    object
dtypes: int64(1), object(9)
memory usage: 10.0+ KB

In [5]:
df_2000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 10 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Ordem segundo o IDH                               126 non-null    int64
 1   Bairro ou grupo de bairros                        126 non-null    object
 2   Esperança de vida ao nascer (em anos)             126 non-null    object
 3   Taxa de alfabetização de adultos (%)              126 non-null    object
 4   Taxa bruta de frequência escolar (%)              126 non-null    object
 5   Renda per capita (em R$ de 2000)                  126 non-null    object
 6   Índice de Longevidade (IDH-L)                     126 non-null    object
 7   Índice de Educação (IDH-E)                        126 non-null    object
 8   Índice de Renda (IDH-R)                           126 non-null    object
 9   Índice de Desenvolvimento Humano Municipal (IDH)  126 non-null    object
dtypes: int64(1), object(9)
memory usage: 10.0+ KB

In [6]:
df_1991.isnull().sum()

Ordem segundo o IDH                                 0
Bairro ou grupo de bairros                          0
Esperança de vida ao nascer (em anos)               0
Taxa de alfabetização de adultos (%)                0
Taxa bruta de frequência escolar (%)                0
Renda per capita (em R$ de 2000)                    0
Índice de Longevidade (IDH-L)                       0
Índice de Educação (IDH-E)                          0
Índice de Renda (IDH-R)                             0
Índice de Desenvolvimento Humano Municipal (IDH)    0
dtype: int64

In [7]:
df_2000.isnull().sum()

Ordem segundo o IDH                                 0
Bairro ou grupo de bairros                          0
Esperança de vida ao nascer (em anos)               0
Taxa de alfabetização de adultos (%)                0
Taxa bruta de frequência escolar (%)                0
Renda per capita (em R$ de 2000)                    0
Índice de Longevidade (IDH-L)                       0
Índice de Educação (IDH-E)                          0
Índice de Renda (IDH-R)                             0
Índice de Desenvolvimento Humano Municipal (IDH)    0
dtype: int64

In [8]:
df_1991 = df_1991.replace(',','.', regex=True)
df_2000 = df_2000.replace(',','.', regex=True)

In [9]:
coluna_object = df_1991.select_dtypes(include=['object']).columns
coluna_object = coluna_object.drop(['Bairro ou grupo de bairros'])
for coluna in coluna_object:
    df_1991[coluna] = pd.to_numeric(df_1991[coluna], errors='coerce')
print(df_1991.dtypes)

Ordem segundo o IDH                                   int64
Bairro ou grupo de bairros                           object
Esperança de vida ao nascer (em anos)               float64
Taxa de alfabetização de adultos (%)                float64
Taxa bruta de frequência escolar (%)                float64
Renda per capita (em R$ de 2000)                    float64
Índice de Longevidade (IDH-L)                       float64
Índice de Educação (IDH-E)                          float64
Índice de Renda (IDH-R)                             float64
Índice de Desenvolvimento Humano Municipal (IDH)    float64
dtype: object

In [10]:
coluna_object = df_2000.select_dtypes(include=['object']).columns
coluna_object = coluna_object.drop(['Bairro ou grupo de bairros'])
for coluna in coluna_object:
    df_2000[coluna] = pd.to_numeric(df_2000[coluna], errors='coerce')
print(df_2000.dtypes)

Ordem segundo o IDH                                   int64
Bairro ou grupo de bairros                           object
Esperança de vida ao nascer (em anos)               float64
Taxa de alfabetização de adultos (%)                float64
Taxa bruta de frequência escolar (%)                float64
Renda per capita (em R$ de 2000)                    float64
Índice de Longevidade (IDH-L)                       float64
Índice de Educação (IDH-E)                          float64
Índice de Renda (IDH-R)                             float64
Índice de Desenvolvimento Humano Municipal (IDH)    float64
dtype: object

In [11]:
df_1991

,Ordem segundo o IDH,Bairro ou grupo de bairros,Esperança de vida ao nascer (em anos),Taxa de alfabetização de adultos (%),Taxa bruta de frequência escolar (%),Renda per capita (em R$ de 2000),Índice de Longevidade (IDH-L),Índice de Educação (IDH-E),Índice de Renda (IDH-R),Índice de Desenvolvimento Humano Municipal (IDH)
0,1,Gávea,75.11,97.25,100.64,1796.10,0.835,0.982,1.000,0.939
1,2,Jardim Botânico,73.67,97.81,95.24,1620.82,0.811,0.970,1.000,0.927
2,3,Ipanema,74.00,96.98,93.95,1606.88,0.817,0.960,1.000,0.925
3,4,Leblon,73.67,97.49,92.23,1589.11,0.811,0.957,1.000,0.923
4,5,Humaitá,72.80,97.93,102.67,1422.01,0.797,0.986,0.985,0.923
...,...,...,...,...,...,...,...,...,...,...
121,122,Rocinha,65.15,81.49,54.47,170.57,0.669,0.725,0.631,0.675
122,123,Manguinhos,62.32,85.92,62.98,157.26,0.622,0.783,0.617,0.674
123,124,Maré,62.71,83.31,60.57,156.26,0.628,0.757,0.616,0.667
124,125,Complexo do Alemão,62.36,83.60,56.52,144.01,0.623,0.746,0.602,0.657
125,126,Acari. Parque Colúmbia,60.29,86.21,60.57,147.17,0.588,0.777,0.606,0.657

In [12]:
df_2000

,Ordem segundo o IDH,Bairro ou grupo de bairros,Esperança de vida ao nascer (em anos),Taxa de alfabetização de adultos (%),Taxa bruta de frequência escolar (%),Renda per capita (em R$ de 2000),Índice de Longevidade (IDH-L),Índice de Educação (IDH-E),Índice de Renda (IDH-R),Índice de Desenvolvimento Humano Municipal (IDH)
0,1,Gávea,80.45,98.08,118.13,2139.56,0.924,0.987,1.000,0.970
1,2,Leblon,79.47,99.01,105.18,2441.28,0.908,0.993,1.000,0.967
2,3,Jardim Guanabara,80.47,98.92,111.15,1316.86,0.924,0.993,0.972,0.963
3,4,Ipanema,78.68,98.78,107.98,2465.45,0.895,0.992,1.000,0.962
4,5,Lagoa,77.91,99.46,115.26,2955.29,0.882,0.996,1.000,0.959
...,...,...,...,...,...,...,...,...,...,...
121,122,Manguinhos,66.30,91.48,69.64,188.86,0.688,0.842,0.648,0.726
122,123,Maré,66.58,89.46,68.76,187.25,0.693,0.826,0.646,0.722
123,124,Acari. Parque Colúmbia,63.93,91.68,79.44,174.12,0.649,0.876,0.634,0.720
124,125,Costa Barros,63.93,91.34,74.09,175.00,0.649,0.856,0.635,0.713
125,126,Complexo do Alemão,64.79,89.07,72.04,177.31,0.663,0.834,0.637,0.711

In [13]:
df_1991.describe().T

,count,mean,std,min,25%,50%,75%,max
Ordem segundo o IDH,126.0,63.500000,36.517119,1.000,32.25000,63.5000,94.75000,126.000
Esperança de vida ao nascer (em anos),126.0,67.859206,3.597435,57.040,65.22500,67.7400,70.55250,75.390
Taxa de alfabetização de adultos (%),126.0,93.595635,3.728151,81.490,91.92750,94.4050,96.11750,98.250
Taxa bruta de frequência escolar (%),126.0,79.337619,10.572419,54.470,72.86750,79.0200,86.18750,103.500
Renda per capita (em R$ de 2000),126.0,466.831587,401.692442,144.010,233.12250,327.9700,497.22750,2277.530
Índice de Longevidade (IDH-L),126.0,0.714302,0.059921,0.534,0.67025,0.7120,0.75950,0.840
Índice de Educação (IDH-E),126.0,0.888198,0.057711,0.725,0.85825,0.8955,0.92175,0.988
Índice de Renda (IDH-R),126.0,0.757373,0.104711,0.602,0.68300,0.7395,0.80900,1.000
Índice de Desenvolvimento Humano Municipal (IDH),126.0,0.786595,0.068675,0.657,0.74225,0.7840,0.82300,0.939

In [14]:
df_2000.describe().T

,count,mean,std,min,25%,50%,75%,max
Ordem segundo o IDH,126.0,63.500000,36.517119,1.000,32.25000,63.5000,94.75000,126.000
Esperança de vida ao nascer (em anos),126.0,72.057619,4.057985,62.810,69.41750,72.3200,75.02750,80.470
Taxa de alfabetização de adultos (%),126.0,95.928730,2.381275,87.900,94.78500,96.3000,97.55500,99.460
Taxa bruta de frequência escolar (%),126.0,90.652222,11.945704,67.660,82.30000,88.5950,96.80250,122.200
Renda per capita (em R$ de 2000),126.0,621.834762,539.892572,174.120,302.82500,432.5450,681.04000,2955.290
Índice de Longevidade (IDH-L),126.0,0.784310,0.067666,0.630,0.74000,0.7885,0.83375,0.924
Índice de Educação (IDH-E),126.0,0.935381,0.044291,0.818,0.90525,0.9385,0.97475,0.996
Índice de Renda (IDH-R),126.0,0.800683,0.101268,0.634,0.72625,0.7860,0.86200,1.000
Índice de Desenvolvimento Humano Municipal (IDH),126.0,0.840056,0.067350,0.711,0.79850,0.8340,0.89100,0.970

In [15]:
df_1991['Ano'] = 1991
df_2000['Ano'] = 2000

In [16]:
df_idh = pd.concat([df_1991, df_2000])

In [17]:
df_idh

,Ordem segundo o IDH,Bairro ou grupo de bairros,Esperança de vida ao nascer (em anos),Taxa de alfabetização de adultos (%),Taxa bruta de frequência escolar (%),Renda per capita (em R$ de 2000),Índice de Longevidade (IDH-L),Índice de Educação (IDH-E),Índice de Renda (IDH-R),Índice de Desenvolvimento Humano Municipal (IDH),Ano
0,1,Gávea,75.11,97.25,100.64,1796.10,0.835,0.982,1.000,0.939,1991
1,2,Jardim Botânico,73.67,97.81,95.24,1620.82,0.811,0.970,1.000,0.927,1991
2,3,Ipanema,74.00,96.98,93.95,1606.88,0.817,0.960,1.000,0.925,1991
3,4,Leblon,73.67,97.49,92.23,1589.11,0.811,0.957,1.000,0.923,1991
4,5,Humaitá,72.80,97.93,102.67,1422.01,0.797,0.986,0.985,0.923,1991
...,...,...,...,...,...,...,...,...,...,...,...
121,122,Manguinhos,66.30,91.48,69.64,188.86,0.688,0.842,0.648,0.726,2000
122,123,Maré,66.58,89.46,68.76,187.25,0.693,0.826,0.646,0.722,2000
123,124,Acari. Parque Colúmbia,63.93,91.68,79.44,174.12,0.649,0.876,0.634,0.720,2000
124,125,Costa Barros,63.93,91.34,74.09,175.00,0.649,0.856,0.635,0.713,2000
125,126,Complexo do Alemão,64.79,89.07,72.04,177.31,0.663,0.834,0.637,0.711,2000

In [18]:
df_idh.reset_index(drop=True, inplace=True)

In [19]:
df_idh[df_idh['Ano'] == 1991].describe().T

,count,mean,std,min,25%,50%,75%,max
Ordem segundo o IDH,126.0,63.500000,36.517119,1.000,32.25000,63.5000,94.75000,126.000
Esperança de vida ao nascer (em anos),126.0,67.859206,3.597435,57.040,65.22500,67.7400,70.55250,75.390
Taxa de alfabetização de adultos (%),126.0,93.595635,3.728151,81.490,91.92750,94.4050,96.11750,98.250
Taxa bruta de frequência escolar (%),126.0,79.337619,10.572419,54.470,72.86750,79.0200,86.18750,103.500
Renda per capita (em R$ de 2000),126.0,466.831587,401.692442,144.010,233.12250,327.9700,497.22750,2277.530
Índice de Longevidade (IDH-L),126.0,0.714302,0.059921,0.534,0.67025,0.7120,0.75950,0.840
Índice de Educação (IDH-E),126.0,0.888198,0.057711,0.725,0.85825,0.8955,0.92175,0.988
Índice de Renda (IDH-R),126.0,0.757373,0.104711,0.602,0.68300,0.7395,0.80900,1.000
Índice de Desenvolvimento Humano Municipal (IDH),126.0,0.786595,0.068675,0.657,0.74225,0.7840,0.82300,0.939
Ano,126.0,1991.000000,0.000000,1991.000,1991.00000,1991.0000,1991.00000,1991.000

In [20]:
df_idh[df_idh['Ano'] == 2000].describe().T

,count,mean,std,min,25%,50%,75%,max
Ordem segundo o IDH,126.0,63.500000,36.517119,1.000,32.25000,63.5000,94.75000,126.000
Esperança de vida ao nascer (em anos),126.0,72.057619,4.057985,62.810,69.41750,72.3200,75.02750,80.470
Taxa de alfabetização de adultos (%),126.0,95.928730,2.381275,87.900,94.78500,96.3000,97.55500,99.460
Taxa bruta de frequência escolar (%),126.0,90.652222,11.945704,67.660,82.30000,88.5950,96.80250,122.200
Renda per capita (em R$ de 2000),126.0,621.834762,539.892572,174.120,302.82500,432.5450,681.04000,2955.290
Índice de Longevidade (IDH-L),126.0,0.784310,0.067666,0.630,0.74000,0.7885,0.83375,0.924
Índice de Educação (IDH-E),126.0,0.935381,0.044291,0.818,0.90525,0.9385,0.97475,0.996
Índice de Renda (IDH-R),126.0,0.800683,0.101268,0.634,0.72625,0.7860,0.86200,1.000
Índice de Desenvolvimento Humano Municipal (IDH),126.0,0.840056,0.067350,0.711,0.79850,0.8340,0.89100,0.970
Ano,126.0,2000.000000,0.000000,2000.000,2000.00000,2000.0000,2000.00000,2000.000

In [21]:
centro = ["Centro", "Estácio", "Catumbi"]

ilha_do_governador = ["Jardim Guanabara", "Moneró", "Portuguesa", "Cocotá", "Bancários", "Ribeira", "Cacuia", "Zumbi", "Pitangueiras", "Praia da Bandeira", "Jardim Carioca", "Tauá", "Galeão", "Cidade Universitária"]

zona_norte = ["Maracanã", "Grajaú", "Méier", "Tijuca", "Alto da Boa Vista", "Todos os Santos", "Vila da Penha", "Andaraí", "Riachuelo", "Campinho", "Vila Valqueire", "Vila Isabel", "Cachambi", "Higienópolis", "Água Santa", "Encantado", "Vila Cosmos", "Cidade Nova", "Praça da Bandeira", "Bonsucesso", "Maria da Graça", "Del Castilho", "Lins de Vasconcelos", "Engenho Novo", "Ramos", "Engenho de Dentro", "Abolição", "Oswaldo Cruz", "Olaria", "Bento Ribeiro", "Piedade", "Quintino Bocaiúva", "Rio Comprido", "Praça Seca", "Jardim América", "Jacaré", "Rocha", "Sampaio", "Engenho da Rainha", "Brás de Pina", "São Cristóvão", "Vasco da Gama", "Cascadura", "Parque Anchieta", "Madureira", "Pilares", "Penha Circular", "Benfica", "Rocha Miranda", "Marechal Hermes", "Turiaçu", "Guadalupe", "Inhaúma", "Cavalcanti", "Engenheiro Leal", "Vaz Lobo", "Ricardo de Albuquerque", "Coelho Neto", "Penha", "Honório Gurgel", "Tomás Coelho", "Mangueira", "São Francisco Xavier", "Vista Alegre", "Irajá", "Cordovil", "Pavuna", "Anchieta", "Vicente de Carvalho", "Vigário Geral", "Colégio", "Barros Filho", "Parada de Lucas", "Jacarezinho", "Manguinhos", "Maré", "Acari", "Parque Colúmbia", "Costa Barros", "Complexo do Alemão"]

zona_oeste = ["Joá", "Barra da Tijuca", "Anil", "Pechincha", "Freguesia (Jacarepaguá)", "Recreio dos Bandeirantes", "Grumari", "Taquara", "Deodoro", "Vila Militar", "Campo dos Afonsos", "Jardim Sulacap", "Freguesia", "Tanque", "Curicica", "Itanhangá", "Campo Grande", "Padre Miguel", "Realengo", "Senador Vasconcelos", "Magalhães Bastos", "Bangu", "Santíssimo", "Jacarepaguá", "Senador Camará", "Gardênia Azul", "Sepetiba", "Cosmos", "Paciência", "Cidade de Deus", "Inhoaíba", "Camorim", "Vargem Pequena", "Vargem Grande", "Guaratiba", "Barra de Guaratiba", "Pedra de Guaratiba", "Santa Cruz"]

zona_portuaria = ["Saúde", "Gamboa", "Santo Cristo", "Caju"]

zona_sul = ["Gávea", "Leblon", "Ipanema", "Lagoa", "Flamengo", "Humaitá", "Laranjeiras", "Jardim Botânico", "Copacabana", "Leme", "Botafogo", "Urca", "Glória", "Catete", "Santa Teresa", "Cosme Velho", "Vidigal", "São Conrado", "Rocinha"]

ilha_de_paqueta = ["Ilha de Paquetá"]

df_idh.loc[df_idh['Bairro ou grupo de bairros'].isin(centro), 'Região'] = 'Centro'
df_idh.loc[df_idh['Bairro ou grupo de bairros'].isin(ilha_do_governador), 'Região'] = 'Ilha do Governador'
df_idh.loc[df_idh['Bairro ou grupo de bairros'].isin(zona_norte), 'Região'] = 'Zona Norte'
df_idh.loc[df_idh['Bairro ou grupo de bairros'].isin(zona_oeste), 'Região'] = 'Zona Oeste'
df_idh.loc[df_idh['Bairro ou grupo de bairros'].isin(zona_portuaria), 'Região'] = 'Zona Portuária'
df_idh.loc[df_idh['Bairro ou grupo de bairros'].isin(zona_sul), 'Região'] = 'Zona Sul'
df_idh.loc[df_idh['Bairro ou grupo de bairros'].isin(ilha_de_paqueta), 'Região'] = 'Ilha de Paquetá'

In [22]:
df_idh

,Ordem segundo o IDH,Bairro ou grupo de bairros,Esperança de vida ao nascer (em anos),Taxa de alfabetização de adultos (%),Taxa bruta de frequência escolar (%),Renda per capita (em R$ de 2000),Índice de Longevidade (IDH-L),Índice de Educação (IDH-E),Índice de Renda (IDH-R),Índice de Desenvolvimento Humano Municipal (IDH),Ano,Região
0,1,Gávea,75.11,97.25,100.64,1796.10,0.835,0.982,1.000,0.939,1991,Zona Sul
1,2,Jardim Botânico,73.67,97.81,95.24,1620.82,0.811,0.970,1.000,0.927,1991,Zona Sul
2,3,Ipanema,74.00,96.98,93.95,1606.88,0.817,0.960,1.000,0.925,1991,Zona Sul
3,4,Leblon,73.67,97.49,92.23,1589.11,0.811,0.957,1.000,0.923,1991,Zona Sul
4,5,Humaitá,72.80,97.93,102.67,1422.01,0.797,0.986,0.985,0.923,1991,Zona Sul
...,...,...,...,...,...,...,...,...,...,...,...,...
247,122,Manguinhos,66.30,91.48,69.64,188.86,0.688,0.842,0.648,0.726,2000,Zona Norte
248,123,Maré,66.58,89.46,68.76,187.25,0.693,0.826,0.646,0.722,2000,Zona Norte
249,124,Acari. Parque Colúmbia,63.93,91.68,79.44,174.12,0.649,0.876,0.634,0.720,2000,NaN
250,125,Costa Barros,63.93,91.34,74.09,175.00,0.649,0.856,0.635,0.713,2000,Zona Norte
251,126,Complexo do Alemão,64.79,89.07,72.04,177.31,0.663,0.834,0.637,0.711,2000,Zona Norte