In [1]:
import pandas as pd

In [2]:
df_1991 = pd.read_csv('IDH_1991.csv', encoding="latin1", sep = ';')

In [3]:
df_1991

,Ordem segundo o IDH,Bairro ou grupo de bairros,Esperança de vida ao nascer (em anos),Taxa de alfabetização de adultos (%),Taxa bruta de frequência escolar (%),Renda per capita (em R$ de 2000),Índice de Longevidade (IDH-L),Índice de Educação (IDH-E),Índice de Renda (IDH-R),Índice de Desenvolvimento Humano Municipal (IDH)
0,1,Gávea,"75,11","97,25","100,64","1796,1","0,835","0,982",1,"0,939"
1,2,Jardim Botânico,"73,67","97,81","95,24","1620,82","0,811","0,97",1,"0,927"
2,3,Ipanema,74,"96,98","93,95","1606,88","0,817","0,96",1,"0,925"
3,4,Leblon,"73,67","97,49","92,23","1589,11","0,811","0,957",1,"0,923"
4,5,Humaitá,"72,8","97,93","102,67","1422,01","0,797","0,986","0,985","0,923"
...,...,...,...,...,...,...,...,...,...,...
121,122,Rocinha,"65,15","81,49","54,47","170,57","0,669","0,725","0,631","0,675"
122,123,Manguinhos,"62,32","85,92","62,98","157,26","0,622","0,783","0,617","0,674"
123,124,Maré,"62,71","83,31","60,57","156,26","0,628","0,757","0,616","0,667"
124,125,Complexo do Alemão,"62,36","83,6","56,52","144,01","0,623","0,746","0,602","0,657"
125,126,"Acari, Parque Colúmbia","60,29","86,21","60,57","147,17","0,588","0,777","0,606","0,657"

In [4]:
df_1991.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 10 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Ordem segundo o IDH                               126 non-null    int64
 1   Bairro ou grupo de bairros                        126 non-null    object
 2   Esperança de vida ao nascer (em anos)             126 non-null    object
 3   Taxa de alfabetização de adultos (%)              126 non-null    object
 4   Taxa bruta de frequência escolar (%)              126 non-null    object
 5   Renda per capita (em R$ de 2000)                  126 non-null    object
 6   Índice de Longevidade (IDH-L)                     126 non-null    object
 7   Índice de Educação (IDH-E)                        126 non-null    object
 8   Índice de Renda (IDH-R)                           126 non-null    object
 9   Índice de Desenvolvimento Humano Municipal (IDH)  126 non-null    object
dtypes: int64(1), object(9)
memory usage: 10.0+ KB

In [14]:
df_1991.isnull().sum()

Ordem segundo o IDH                                 0
Bairro ou grupo de bairros                          0
Esperança de vida ao nascer (em anos)               0
Taxa de alfabetização de adultos (%)                0
Taxa bruta de frequência escolar (%)                0
Renda per capita (em R$ de 2000)                    0
Índice de Longevidade (IDH-L)                       0
Índice de Educação (IDH-E)                          0
Índice de Renda (IDH-R)                             0
Índice de Desenvolvimento Humano Municipal (IDH)    0
dtype: int64

In [15]:
df_1991 = df_1991.replace(',','.', regex=True)
df_1991

,Ordem segundo o IDH,Bairro ou grupo de bairros,Esperança de vida ao nascer (em anos),Taxa de alfabetização de adultos (%),Taxa bruta de frequência escolar (%),Renda per capita (em R$ de 2000),Índice de Longevidade (IDH-L),Índice de Educação (IDH-E),Índice de Renda (IDH-R),Índice de Desenvolvimento Humano Municipal (IDH)
0,1,Gávea,75.11,97.25,100.64,1796.1,0.835,0.982,1,0.939
1,2,Jardim Botânico,73.67,97.81,95.24,1620.82,0.811,0.97,1,0.927
2,3,Ipanema,74,96.98,93.95,1606.88,0.817,0.96,1,0.925
3,4,Leblon,73.67,97.49,92.23,1589.11,0.811,0.957,1,0.923
4,5,Humaitá,72.8,97.93,102.67,1422.01,0.797,0.986,0.985,0.923
...,...,...,...,...,...,...,...,...,...,...
121,122,Rocinha,65.15,81.49,54.47,170.57,0.669,0.725,0.631,0.675
122,123,Manguinhos,62.32,85.92,62.98,157.26,0.622,0.783,0.617,0.674
123,124,Maré,62.71,83.31,60.57,156.26,0.628,0.757,0.616,0.667
124,125,Complexo do Alemão,62.36,83.6,56.52,144.01,0.623,0.746,0.602,0.657
125,126,Acari. Parque Colúmbia,60.29,86.21,60.57,147.17,0.588,0.777,0.606,0.657

In [17]:
df_1991.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Ordem segundo o IDH,126.0,NaN,NaN,NaN,63.5,36.517119,1.0,32.25,63.5,94.75,126.0
Bairro ou grupo de bairros,126,126,Gávea,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Esperança de vida ao nascer (em anos),126,85,67.74,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxa de alfabetização de adultos (%),126,119,94.19,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taxa bruta de frequência escolar (%),126,124,60.57,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Renda per capita (em R$ de 2000),126,126,1796.1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Índice de Longevidade (IDH-L),126,74,0.712,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Índice de Educação (IDH-E),126,92,0.915,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Índice de Renda (IDH-R),126,103,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Índice de Desenvolvimento Humano Municipal (IDH),126,98,0.794,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
coluna_object = df_1991.select_dtypes(include=['object']).columns
coluna_object = coluna_object.drop(['Bairro ou grupo de bairros'])
for coluna in coluna_object:
    df_1991[coluna] = pd.to_numeric(df_1991[coluna], errors='coerce')
print(df_1991.dtypes)

Ordem segundo o IDH                                   int64
Bairro ou grupo de bairros                           object
Esperança de vida ao nascer (em anos)               float64
Taxa de alfabetização de adultos (%)                float64
Taxa bruta de frequência escolar (%)                float64
Renda per capita (em R$ de 2000)                    float64
Índice de Longevidade (IDH-L)                       float64
Índice de Educação (IDH-E)                          float64
Índice de Renda (IDH-R)                             float64
Índice de Desenvolvimento Humano Municipal (IDH)    float64
dtype: object